p {
    color: #712323;
    background-color: #e3e3e3;
    font-family: georgia;
}
header, footer {
    color: rgb(28,28,28);
    background-color: rgb(176, 176, 176);
    font-family: georgia;

}

li {
    color: rgb(28,28,28);
    background-color: rgba(100, 148, 237, 0.56);
    font-size: 1em;

}

ul > li {
    font-size: 1.2em;
    font-family: georgia;
}

html {
    background-color: rgba(100, 148, 237, 0.56)
}

