p {
    color: #712323;
    background-color: rgba(227, 227, 227, 1);
    font-family: georgia;
}
header {
    color: #FFFFFF;
    background-color: rgb(153, 31, 31);
    font-family: courier;

}

li {
    color: rgb(28,28,28);
    background-color: rgba(100, 148, 237, 0.56);
    font-size: 1em;

}

ul > li {
    font-size: 1.2em;
    font-family: georgia;
}

html {
    background-color: rgba(100, 134, 237, 0.86)
}
nav {
    background-color: rgba(240, 237, 247, 0.57);
}
h2 {
   font-family: courier;
}
a {
    color: #000000;
}
#hobby, #hobby2 {
    Font-family: courier;
}


h3{
    font-family: georgia;
}
footer{
  color: #FFFFFF;
  font-family: georgia; }
