p {
    color: #712323;
    background-color: rgba(227, 227, 227, 1);
    font-size: 17px;
    margin: 1.25em;
    padding: 1.1em;
    border: solid black 3px;
    line-height: 1.2;
    text-indent: 15px;


}
header {
    color: #FFFFFF;
    background-color: rgb(153, 31, 31);
    border: solid black 5px;
    padding: 0.5rem;
    box-sizing: border-box;

}


li {
    color: rgb(28,28,28);
    background-color: rgb(175, 199, 245);
    list-style-position: inside;
    border: solid black 1.5px;
    width: 100%;
   padding: 10px;
    box-sizing:  border-box;
    margin: 5px;
    background: radial-gradient(cyan, green);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column nowrap
}

#nameplate{
        width: fit-content;
        text-align: center;
        border: solid black 3px;
        margin: auto;
        color: #712323;
        background-color: rgba(227, 227, 227, 1);
        font-weight: 700;
        padding: 10px;

    }



ul > li {

    border-bottom: solid black 4px;
    margin: auto;
    width: 100%;
    font-size: 1.2em;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap



}

html {
    background: radial-gradient(lightblue, gray);
    font-size: 100%;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-content: space-around;
    padding: 1em;
    list-style-position: inside;


    background-color: rgba(240, 237, 247, 0.57);
    border: 5px solid black;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    box-sizing: border-box;


}
img {
        border: solid black 11px;

        padding: 40px;
        background: linear-gradient(90deg, purple, green);
        object-position: 100% 50%;
        margin-right: 5px;

    }
h2 {
    margin: 2rem 1rem 1rem 0.5rem;
font-size: 30px;

}
a {
    color: #000000;
}


#start{
    justify-content: center;
}

#hobb {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


}
h3 {
    font-size: 24px;
    display: flex;
    flex-flow: wrap;
    gap: 50px;
    justify-content: center;



}

h1,h2,h3{
    font-family: "Times", "Times New Roman", serif;
    text-align: center;
}
footer{
  color: #FFFFFF;
  font-family: "Trebuchet MS", "Verdana", sans-serif;
border: 0.3rem solid black;
padding: 0.5rem;
background-color: rgba(255, 6, 6, 0.44)}


address{
    color: #ffffff;
    background-color: rgba(255, 6, 6, 0.44);
        border: 3px solid black;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
}

#return{
   border: 3px dashed black;
}
